<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Question</title>
</head>
<body>
    <h1>Add New Question</h1>
    <form action="{% url 'add_question' %}" method="post">
        {% csrf_token %}
        <label for="question_text">Question:</label><br>
        <input type="text" id="question_text" name="text"><br>
        <input type="submit" value="Submit">
    </form>

    <p>This is where the questions will be added. Teachers will be able to make questions and add them.
        This is the screen where that will happen.
    </p>
</body>
</html>
