<!-- Where the student will answer the question the teacher has asked -->
<!-- Will store the answer to the database -->
<!-- Won't show the answer because that is for a separte page -->
<!-- Once submitted take the student to a thanks for answering page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Answer</title>
</head>
<body>
    <h1>Student Answer</h1>
    <h2>{{ question.text }}</h2>
    <form action="{% url 'thanks_page' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="answer">Answer:</label>
        <input type="text" id="answer" name="answer" required><br>
        <input type="submit" value="Submit Answer">
    </form>
    <p>Answer the question above. Once you have answered the question you can exit the page.</p>
</body>

</html>