<!-- Where the student will answer the question the teacher has asked -->
<!-- Will store the answer to the database -->
<!-- Won't show the answer because that is for a separte page -->
<!-- Once submitted take the student to a thanks for answering page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Answer</title>
</head>
<body>
    {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    <h1>Student Answer</h1>
    <h2>{{ question.text }}</h2>
    <form action="{% url 'student_answer'  question.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit Answer">
    </form>
    <p>Answer the question above. Once you have answered the question you can exit the page.</p>
</body>

</html>